#include "rsrc.h"

//THIS IS NO LONGER USED
//IDR_MENU MENU
//BEGIN
//	POPUP "&File"
//	BEGIN
//		MENUITEM "&Open", ID_OPEN, GRAYED
//		MENUITEM "&Save State", 0, GRAYED
//		MENUITEM "E&xit", ID_EXIT
//	END
//
//	POPUP "O&ptions"
//	BEGIN
//		MENUITEM "NOT YET NIGGER", 0, GRAYED
//	END
//
//	POPUP "&Debug"
//	BEGIN
//		MENUITEM "Activate Debug Console", 0, GRAYED
//	END
//END

//IDR_ICON ICON "icon.ico"
//ICON SUCKS LOL